.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.login .main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #c2c5e1;
  border-radius: 4px;
}

.login-button {
  margin: 20px 0;
  padding: 10px;
  background-color: #fd0004;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.footer .rectangle {
  background-color: #000000;
  height: 50px;
  width: 100%;
}

.footer .group-3,
.footer .group-4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer img {
  margin: 0 5px;
}

.create-account {
  color: #fd0004;
  cursor: pointer;
}