* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-color: bisque; */
    background-image: url("..\assets\fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}