.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.produto {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botao {
  padding: 10px;
  font-size: 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #0056b3;
}

.lista {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Isso garante que os itens fiquem um abaixo do outro */
  gap: 15px; /* Espaçamento entre os itens */
}

.item {
  display: flex;
  flex-direction: row; /* imagem e info lado a lado */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.imagem {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
